.home-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.table-count-div{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.table-count-div > h2{
    color: #42515F;
    font-size: 28px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.table-count{
    width: 60px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    border-width: 0;
    opacity: 1;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #82A70C;
    color: #FFFFFF;
}
.search-button{
    width: 60px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    border-width: 0;
    opacity: 1;
    margin-right: 5%;
    cursor: pointer;
}
.inside-button{
    width: 30px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-weight: bolder;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    border-width: 0;
    opacity: 1;
    margin-right: 4%;
    cursor: pointer;
}
.add-user-button{
    width: 180px;
    height: 40px;
    background: #82A70C 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 5px;
    border-width: 0;
    opacity: 1;
    cursor: pointer;
}
.employee-details-header{
    display: flex;
    flex-direction: row;
    width: 25%;
}

.payroll-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
}

.payroll-table thead tr{
    background-color: #42515F;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}

.payroll-table th,
.payroll-table td{
    padding: 12px 15px;
}

.payroll-table tbody tr{
    background-color: #FFFFFF;
    color: #3D3D3D;
    border-bottom: 1px solid #E3E3E3;
}


@media screen and (max-width:1100px) {
    .home-content{
        width: 95%;
    }
}

@media screen and (max-width:680px) {
    .home-content{
        width: 100%;
    }
}